# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
.venv/

# VS Code and PyCharm configs
.vscode/
.idea/

# Model and data files
*.h5
*.pkl
*.joblib
*.pt
*.onnx
*.sav
*.tflite
*.npz
*.npy

# Log and cache
*.log
*.cache/
.cache/
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Flask files
instance/
*.db

# Optional - If using TensorBoard or large output
runs/
